// Place all the styles related to the races controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

div {
  &.date-area {
    margin-bottom: 16px;
  }
}

table {
  width: 100%;
}

td {
  padding-right: 8px;
  font-size: 14px;
}